* {
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.month-section {
  border: 2px solid red;
  width: 100%;
}

section h3 {
  display: flex;
  justify-content: center;
}

.week-days {
  display: flex;
  /* justify-content: space-around; */
}

.week-days div {
  border: 2px solid blue;
  width: 100%;
  text-align: center;
  /* flex-basis: 40%; */
}